<html>
	<head>
		<title>Elisa's Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Django Girls Blog</a></h1>
		</div>
		<div>
			<p>published: 27.02.2016, 12:39</p>
			<h2><a href="">My first post</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci nobis harum facilis incidunt architecto ullam! Qui non dignissimos mollitia atque facilis molestiae animi, culpa ad in quas officiis illo explicabo.</p>
		</div>
		<div>
			<p>published: 27.02.2016, 12:40</p>
			<h2><a href="">My second post</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci nobis harum facilis incidunt architecto ullam! Qui non dignissimos mollitia atque facilis molestiae animi, culpa ad in quas officiis illo explicabo.</p>
		</div>

	</body>
</html>